<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h2>Reset Password</h2>
      <form method="POST">
        <div class="form-group">
          <label for="password">New Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
    </div>
  </body>
</html>
